<h1><%= @facade.vendor.name %></h1>

<p>Vendor Info:<p>

<p>Contact Name: <%= @facade.vendor.contact_name %></p>
<p>Phone: <%= @facade.vendor.contact_phone %></p>
<p>Credit Accepted: <%= @facade.vendor.credit %></p>
<p>Description: <%= @facade.vendor.description %></p>